<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecole.eni.fr.shoppingManager">

    <!-- Création des permissions -->
    <permission
        android:name="articleprovider.READ"
        android:description="@string/description_provider_read"
        android:label="Accéder en lecture au provider Article"
        android:protectionLevel="dangerous" />
    <permission
        android:name="articleprovider.WRITE"
        android:description="@string/description_provider_write"
        android:label="Accéder en écriture au provider Article"
        android:protectionLevel="dangerous" />

    <!-- Demande des permissions -->
    <uses-permission android:name="articleprovider.READ" />
    <uses-permission android:name="articleprovider.WRITE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".provider.ArticleRefProvider"
            android:authorities="fr.eni.ecole.article.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="articleprovider.READ"
            android:writePermission="articleprovider.WRITE" />

        <activity
            android:name=".ListeListeDeCourseActivity"
            android:label="@string/title_activity_liste_liste_de_course"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>